* 
  box-sizing: border-box
  transition-duration: 0.3s

body 
  font-family: Georgia, 'Times New Roman', Times, serif
  background-color: #acb3da  

#listtodo, #listdone
  list-style: none

.container
  background-color: #fff
  width: 50%
  max-width: 400px
  border: solid 2px green
  border-radius: 0.5rem
  padding: 1rem
  margin: 3rem
